<?php
$dbHost = '127.0.0.1';
$dbName = 'phubb';
$dbUser = 'phubb';
$dbPass = 'phubb';

//debug, info, notice, warning, error
$logLevel = 'debug';
$logFile = '/var/log/phubb.log';

//list of domains not to accept
$topicBlacklist = array();

//list of domains to accept. overrides blacklist when at least 1 entry
$topicWhitelist = [];

//enable development test scripts
$devMode = false;
?>
