<?php
$dbHost = '127.0.0.1';
$dbName = 'phubb';
$dbUser = 'phubb';
$dbPass = 'phubb';

//debug, info, notice, warning, error
$logLevel = 'debug';
$logFile = '/var/log/phubb.log';

//self URL
$baseUrl = 'http://phubb.example.org/';

//list of domains not to accept
$topicBlacklist = array();

//enable development test scripts
$devMode = false;
?>
